<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/919dfe1f4e.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <section class="header__section1">
            <div class="header__logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div>
                <form action="">
                    <input type="text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <div>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            </div>
        </section>
        <nav class="home__header__menu">
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>

            </ul>
            <ul>
                <li><a href="/register">crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="Mis Compras">Mis Compras <i class="fa-solid fa-basket-shopping-simple"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <button><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <main class="main--login">
        <section class="main--login--section">
            <form class="login--form" action="">
                <h1>Ingresa</h1>
                
                <div class="login--box">
                    <input class="form__login--input" type="text" placeholder="Nombre de usuario" name="" id="name-user">
                </div>
                <div class="login--box">
                    <input  class="form__login--input" type="text" placeholder="Ingresa tu contraseña" name="" id="">
                </div>
                <div class="login--box">
                    <button>Enviar</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>