body {
    font-family: "Roboto";
    font-size: var(--textoCuerpo);
    background-color: var(--colorGrisClaro);
}

/*header*/
header{
    font-family: 'Roboto';
    padding: 5px 10px;
}
nav ul li {
    display: none;
}
.header__logo{
    width: 43%;
}

.header__section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.burger-menu {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* main*/
.home__main img{
    display: none;
}
.home__main {
    width: 100%;
}

.home__main__section article {
    margin-bottom: 10px;

}

.home__main__section__article--description i {
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    color: #39b54a;
    position: absolute;
    box-sizing: border-box;
    right: 20px;
    top: -15px;
}

.home__main__section h3 {
    font-size: var(--textoTitulares);
}

p.precios {
    font-size: var(--precios);
}

p.descuentos {
    font-size: var(--descuentos);
}

.home__main__section h5 {
    font-size: var(--descripciones);
    display: none;
}

.home__main__section__article--photo img {
    width: 100%;
}

.home__main__section__article--description {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 5px;
}


/*footer*/
.home__footer {
    text-align: center;
}

.home__footer__section--article div {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}

/*media query tablet*/
@media(min-width: 768px) {
    /* header*/
    .header__logo{
        width: 41%;
    }
    
    .header__section1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .home__header__menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .home__header__menu ul{
        display: flex;
        justify-content: space-around;
    }
    .home__header__menu ul li{
        padding: 5px;
    }
    
    /*main*/
    .home__main img{
        display: block;
        background-position: center;
        width: 100%;
    }
    .home__main__section h5 {
        font-size: var(--descripciones);
        display: inline-block
    }
    .home__main__section{
        justify-content: space-around;
        gap: 10px 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        
        
    }

    nav ul li {
        display: block;
    }

    div.burger-menu {
        display: none;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    

}
@media (min-width:1024px) {
    .home__main__section{
        justify-content: space-around;
        gap: 10px 10px;
    }
    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
    
}