body{
    font-family: "Roboto";
    font-size: var(--textoCuerpo);
}
/*header*/

.home__header p{
    text-align: center;
}
.home__header ul li a{
    list-style: none;
    color: black;
    
}
.home__header ul{
    padding: 0;
    
}

.burger-menu button{
    background-color: var(--colorCeleste);
    color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 4px;
    
}
.burger-menu{
    text-align: center;
}

/* main*/
.home__main__section h3{
    font-size: var(--textoTitulares);
}
p.precios{
    font-size: var(--precios);
}
p.descuentos{
    font-size: var(--descuentos);
}
.home__main__section h5{
    font-size: var(--descripciones);
}


/*footer*/
.home__footer{
    text-align: center;
}
.title-5{
    text-align: left;
}
.home__footer__section--article div{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--colorCeleste);
}
